* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: #E1D4C9;
    padding-right: 40px;
    padding-top: 6px;
    padding-left: 40px;
}
header{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
@media (max-width: 780px) {
    .logo {
        margin-top: -5px;
        margin-left: 0px;
        width: 100px;
        height: 60px;
    }
    .menuButt{
        position: absolute;
        margin-top: 5px;
        right: 30px;
    }
    .menu{
        font-family: Inter;
        font-size: 32px;
        font-weight: 550;
        text-align: center;
    }
    .coffee-menu{
        margin-left: 5px;
        margin-top: -5px;
    }
    .menu-base{
        display: flex;
        margin-top: 620px;
        width: 100%;
        margin-left: 200px;
    }
    .P-S{
        text-align: center;
        position: absolute;
        margin-top: 120px;
        font-size: 32px;
        width: 688px;
        color: #403F3D;
        gap: 60px;
        display: grid;
        font-family: Inter;
        font-weight: 550;
    }
    .backK{
        text-decoration: underline 0.1em;
        color: #403F3D;
    }
}
@media (max-width: 450px) {
    .logo {
        margin-top: -15px;
        margin-left: -30px;
        width: 100px;
        height: 60px;
    }
    .menuButt{
        position: absolute;
        margin-top: -15px;
        right: 16px;
    }
    .menu{
        font-family: Inter;
        font-size: 32px;
        font-weight: 550;
        text-align: center;
    }
    .coffee-menu{
        margin-left: 5px;
        margin-top: -5px;
    }
    .menu-base{
        display: flex;
        margin-top: 420px;
        width: 100%;
        margin-left: 40px;
    }
    .P-S{
        text-align: center;
        position: absolute;
        margin-top: 120px;
        margin-left: -15px;
        width: 348px;
        font-size: 32px;
        color: #403F3D;
        gap: 20px;
        display: grid;
        font-family: Inter;
        font-weight: 550;
    }
    .backK{
        text-decoration: underline;
    }
}
