* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}



.pop_up{
    /* display: none; */
    transition: 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transform: translate(0, -1000px);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 2;
}
.pop_up_active{
    transform: translate(0, 0);
    background-color: #403F3DCC;
    /* display: block; */
}
.pop_up_container{
    display: flex;
    width: 100%; 
    height: 100%;
}
.pop_up_body{
    display: flex;
    gap: 20px;
    margin: auto;
    width: 800px;
    height: 504px;
    background-color: #E1D4C9;
    border-radius: 40px;
    position: relative;
}


.card-img-topS{
    width: 310px;
    height: 310px;
    border-radius: 40px;
    padding-top: 15px; 
    padding-left: 15px;
}
.card-titleS{
    padding-top: 15px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #403F3D;
}
.card-textS{
    padding-top: 12px;
    font-family: Inter;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #403F3D;
}
.SizeZ{
    padding-top: 8px;
}
.sizee{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #403F3D;
}
.blockS{
    margin-left: -125px;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    height: 46px;
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;
}
.sBlock{
    cursor: pointer;
    align-items: center; 
    border: 1px #665F55;
    padding: 8px; 
    border-radius: 100px;
    background-color: #C1B6AD;
}
.mBlock{
    cursor: pointer;
    margin-left: 4px;
    align-items: center; 
    border: 1px solid #C1B6AD;
    padding: 8px; 
    border-radius: 100px;
    margin-left: 16px;
    background-color: #E1D4C9;
}
.lBlock{
    cursor: pointer;
    margin-left: 4px;
    align-items: center; 
    border: 1px solid #C1B6AD;
    padding: 8px; 
    border-radius: 100px;
    margin-left: 16px;
    background-color: #E1D4C9;
}
.iconS{
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    align-items: center; 
    justify-content: center;
    position: relative;
    top: 9.2px;
    left: -5px;
}
.iconM{
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    align-items: center; 
    justify-content: center;
    position: relative;
    top: 9.2px;
    left: -5px;
}
.iconL{
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    align-items: center; 
    justify-content: center;
    position: relative;
    top: 9.2px;
    left: -5px;
}
.Additives{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #403F3D;
}
.blockZ{
    margin-left: -100px;
    font-family: Inter;
    font-weight: 500;
    height: 46px;
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;
}
.b1lock{
    cursor: pointer;
    align-items: center; 
    border: 1px solid #C1B6AD;
    padding: 8px; 
    border-radius: 100px;
    background-color: #E1D4C9;
}
.b2lock{
    cursor: pointer;
    margin-left: 4px;
    align-items: center; 
    border: 1px solid #C1B6AD;
    padding: 8px; 
    border-radius: 100px;
    margin-left: 16px;
    background-color: #E1D4C9;
}
.b3lock{
    cursor: pointer;
    margin-left: 4px;
    align-items: center; 
    border: 1px solid #C1B6AD;
    padding: 8px; 
    border-radius: 100px;
    margin-left: 16px;
    background-color: #E1D4C9;
}
.icon1{
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    align-items: center; 
    justify-content: center;
    position: relative;
    top: 9.2px;
    left: -5px;
}
.icon2{
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    align-items: center; 
    justify-content: center;
    position: relative;
    top: 9.2px;
    left: -5px;
}
.icon3{
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    align-items: center; 
    justify-content: center;
    position: relative;
    top: 9.2px;
    left: -5px;
}
.totalise{
    color: #403F3D;
    display: flex;
    width: 438px;
    height: 30px;
    padding-top: 15px;
     
}
.totall{
    width: 438px;
    height: 30px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;

}
.doll7S{
    width: 378px;
    height: 30px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: right;
}
.infoEmpt{
    display: flex;
    width: 16px;
    height: 16px;
    padding-top: 10px;
}
.notFinTot{
    padding-right: 12px;
    margin-top: -15px;
    margin-left: 20px;
    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    color: #403F3D;
}
.butClos{
    padding-top: 35px;
    
}
.clos{
    cursor: pointer;
    background-color: #E1D4C9;
    width: 438px;   
    height: 44px;
    border: 1px solid #665F55;
    border-radius: 100px;
}
.closText{
    color: #403F3D;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;

}
.divider{
    margin-top: 10px;
    height: 1px;
    width: 94%;
    background-color: #C1B6AD;
}


body{
    background-color: #E1D4C9;
    padding-right: 40px;
    padding-top: 6px;
    padding-left: 40px;
}
header{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-top: -15px;
    width: 100px;
    height: 60px;
}
.menuButt{
    display: none;
}
.P-S{
    font-family: inter;
    font-weight: 500;
    display: flex;
    gap: 40px;
    color: #403F3D;
}
.menu-base{
    display: flex;
    gap: 5px;
    color: #403F3D;
}
.menu{
    text-decoration: underline 2px;
    font-family: inter;
    font-weight: 500;
    width: 100px;
    height: 60px;
}
.coffee-menu{
    width: 20px;
    height: 20px;
}

footer{
    width: 100%;
    height: 450px;
    background-color: #665F55;
    margin-top: 130px;
    margin-bottom: 40px;
    border-radius: 40px;
}
.foot-text{
    -webkit-text-stroke: 0.9px #000;
    text-shadow: 0px 0px 3px #000;
    font-family: inter;
    font-weight: 500;
    font-size: 60px;
    margin-left: 85px;
    padding-top: 40px;
}
.foot2{
    margin-left: 20px;
}
.apps{
    margin-top: 50px;
    margin-left: 85px;
}
.instagram{
    margin-left: 12px;
}
.facebook{
    margin-left: 12px;
}
.place{
    margin-left: 850px;
    padding-top: 40px;
}
.phoneNum{
    margin-left: 850px;
    padding-top: 20px;
}
.time{
    margin-left: 850px;
    padding-top: 20px;
}
.contactS{
    font-family: inter;
    font-size: 24px;
    margin-left: 850px;
    margin-top: -230px;
}


.behSup{
    text-align: center;
    color: #403F3D;
    font-size: 60px;
    font-family: Inter;
    font-weight: 500;
}
.behBeh{
    color: #B0907A;
}

.cofEl{
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
}
.col{
    cursor: pointer;
    display: grid;
    padding-top: 40px;
    justify-content: space-between;
}
.card {
    weight: 310px;
    height: 506px;
    border: 1px solid #C1B6AD;
    object-fit: cover;
    border-radius: 40px;
    padding: 0px;
}
.card-img-top{
    width: 310px;
    height: 310px;
    border-radius: 40px;
    margin: auto;
}
.card-title{
    padding-left: 20px;
    padding-top: 12px;
    font-weight: 600;
    color: #403F3D;
    font-size: 24px;
}
.card-text{
    font-family: Inter;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 12px;
    color: #403F3D;
    font-size: 16px;
}
.doll7{
    font-family: Inter;
    padding-left: 20px;
    padding-top: 12px;
    color: #403F3D;
    font-size: 24px;
    font-weight: 500;
}
@media (max-width: 768px) {
    header{
        margin-top: 10px;
    }
    .menuButt{
        padding-top: 10px;
        display: flex;
    }
    .logo{
        margin-top: 0px;
    }
    .menu-base{
        display: none;
    }
    .P-S{
        display: none;
    }
    .behSup{
        margin-top: 20px;
        width: 688px;
        font-size: 56px;
    }
    footer{
        display: flex;
        height: 736px;
        width: 688px;
        margin-top: 80px;
    }
    .foot-text{
        -webkit-text-stroke: none;
        text-shadow: none;
        margin-left: 50px;
    }
    .column-2{
        margin-left: -1330px;
        margin-top: 410px;
    }
    .contactS{
        position: absolute;
        margin-top: 0px;
    }
    .place{
        margin-top: 40px;
        height: 28px;
    }
    .phoneNum{
        margin-top: 0px;
        height: 28px;
    }
    .time{
        margin-top: 0px;
        height: 28px;
    }
    .apps{
        margin-left: 50px;
        margin-top: 50px;
    }
}
@media (max-width: 450px) {
    header{
        margin-top: 7px;
    }
    .menuButt{
        padding-top: 8px;
        display: flex;
    }
    .logo{
        margin-left: -15px;
        margin-top: 5px;
    }
    .menu-base{
        display: none;
    }
    .P-S{
        display: none;
    }
    .behSup{
        margin-top: 20px;
        margin-left: -35px; 
        width: 360px;
        font-size: 31px;
        text-align: center;
    }
    .cofBlock{
        margin-left: -15px;
    }
    .container-cof{
        margin-left: -10px;
    }
    footer{
        width: 328px;
        height: 526px;
        margin-left: -15px;
        padding-bottom: 100px;
    }
    .foot-text{
        font-size: 36px;
        margin-top: 10px;
        margin-left: 20px;
        -webkit-text-stroke: none;
        text-shadow: none;
    }
    .apps{
        margin-left: 25px;
        margin-top: 40px;
    }
    .contactS{
        margin-top: -105px;
        padding-left: 195px;
        font-weight: 500;
    }
    .place{
        margin-top: -30px;
        padding-left: 195px;
    }
    .phoneNum{
        margin-top: -8px;
        padding-left: 195px;
    }
    .time{
        margin-top: -8px;
        padding-left: 195px;
    }
}